<h1 align=center>Tareas diciocheras</h1>

<% @tasks.each_slice(3) do |three_task|%>
    <div class="card-deck">
        <% three_task.each do |task| %>
            <div class="card my-2" style="width: 18rem" >
                <%= image_tag  task.picture, class: "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title"><%= task.name %></h5>
                    <%= link_to 'Detalle', todos_path, class:"btn btn-info" %>
                </div>
            </div>
         <% end %>
     </div>
<% end %>
